<div class="text-center">
    <h3 class="page-header" ng-switch="code">
        <span ng-switch-when="200">200, SUCCESS</span>
        <span ng-switch-when="400">400, BAD REQUEST</span>
        <span ng-switch-when="401">401, UNAUTHORIZED</span>
        <span ng-switch-when="403">403, FORBIDDEN</span>
        <span ng-switch-when="404">404, NOT FOUND</span>
        <span ng-switch-when="500">500, INTERNAL SERVER ERROR</span>
        <span ng-switch-default>{{ code }} UNDEFINED ERROR</span>
    </h3>
    <p>Sorry, page not found</p>
    <p>¯\( ‘.’ )/¯</p>
</div>
