$primary: #d9230f;
$primary-light: #d10007;
$primary-dark: #A91B0C;
$second: #212121;
$default: #f6f6f6;
$text: #ffffff;
$dark-text: #212121;
.navbar {
    margin: 0;
}

.wrapper {
    margin: 61px 0 10px 0;
}

input,
select,
button {
    outline: none !important;
}

textarea {
    resize: none;
}

.navbar {
    margin-bottom: 0;
}

.content {
    width: 100%;
    height: 100%;
    margin-top: 51px;
}

.page-header {
    margin: 20px 0 18px;
}
