@import "layout";

.tree-sidebar {
    margin-top: 12px;
    background-color: $default;
    color: $dark-text;

    .page-header {
        color: $dark-text;
    }

    .input-group {
        .btn {
            border: 1px solid #DDDDDD;
        }
    }
}

.tree-list {
    $size: 36px;
    $arrow: $size / 5;
    $margin: $size / 3;
    $padding: $size / 2;
    $buttons: 2;

    $background: rgba(233, 233, 233, 0.39);
    $hover: #eee;

    ol {
        counter-reset: li;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            ol {
                margin: 0 0 0 ($size + $arrow);
            }
        }
    }

    a {
        position: relative;
        display: block;
        height: $size;
        line-height: $size;
        padding: 0 (($size * $buttons) + $padding) 0 ($padding);
        margin: $margin 0 $margin ($size + $arrow);
        text-decoration: none;
        background: $background;
        color: $second;
        transition: all .3s ease-out;

        &:hover{
            background: $hover;

            &:before {
                background: $primary-light;
            }

            &:after{
                left: -$arrow;
                border-left-color:  $primary-light;
            }
        }

        &:before{
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -($size + $arrow);
            top: 0;
            height: $size;
            width: $size;
            line-height: $size;
            text-align: center;
            font-weight: bold;
            background: $primary;
            color: $text;
        }

        &:after{
            position: absolute;
            content: '';
            border: $arrow solid transparent;
            left: -$arrow;
            top: 50%;
            margin-top: -$arrow;
            transition: all .3s ease-out;
        }

        &.active {
            color: $text;
            background-color: $primary-dark;
        }
    }

    .title {
        width: 100%;
        height: $size;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .actions {
        position: absolute;
        right: 0;
        top: 0;

        .btn-group {
            margin-top: -3px;

            .btn {
                width: $size;
                height: $size;
            }
        }
    }
}