<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header">
                <i class="fa fa-home"></i> Home
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> Application</h3>
                </div>
                <div class="panel-body">
                    <span>Designing a web application that manages organizational structure for table in Mongo database.</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-download"></i> Installation</h3>
                </div>
                <div class="panel-body">
                    <code>+ composer install</code><br>
                    <code>+ npm install</code><br>
                    <code>+ gulp build</code>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Developer</h3>
                </div>
                <div class="panel-body">
                    <strong>Abisfadone</strong><br>
                    <strong>Kolesnichenko Marina</strong><br>
                    Email: <a href="mailto:abisfadone@gmail.com">abisfadone@gmail.com</a><br>
                </div>
            </div>
        </div>
    </div>
</div>