<div class="panel-body">
    <div class="flot-chart">
        <div class="flot-chart-content" id="flot-line-chart"></div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <h3 class="page-header">
            <strong><i class="fa fa-users"></i> Users</strong>
        </h3>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="tree-list">
                <ol>
                    <li ng-repeat="user in users">
                        <a href="javascript:void(0)" ng-class="{ 'active': user.active }">
                            <div class="title" ng-click="select(user)">
                                Name: {{ user.name }}; Surname: {{ user.surname }}; Phone: {{ user.phone }}
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button class="btn btn-default" ng-click="remove($index, user)"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-md-3 tree-sidebar">
            <h3 class="page-header" ng-switch="state">
                <i class="fa fa-user-plus"></i>
                <span ng-switch-when="append">Append new user</span>
                <span ng-switch-when="edit">Edit user</span>
            </h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Write user name..." ng-model="form.name">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="form.name = ''"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Write user surname..." ng-model="form.surname">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="form.surname = ''"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Write user phone..." ng-model="form.phone">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="form.phone = ''"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <br>
            <div class="text-left">
                <button class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i> Save</button>
                <button class="btn btn-default" ng-click="reset()"><i class="fa fa-refresh"></i> Reset</button>
            </div>
        </div>
    </div>
</div>
